<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Footer</title>
</head>
<body>
    <div class="footer" id="footer">
        <div class="upper_part">
            <div class="upperHeading">
                <div class="quickLinkTextWrapper">
                    <!-- <div class="qLine"></div> -->
    
                    <h2 class="quick-links">Quick Links</h2>
                    <!-- <div class="qLine"></div> -->
                </div>
                <div class="socialmediaTextWrapper">
                    <h2 class="socialmediaTxt">Social</h2>
                </div>
            </div>
    
            <div class="links">
                <div class="column">
                    <a class="footerLinks" href="#">HOW TO DONATE</a>
                    <a class="footerLinks" href="#">PRIVACY POLICY</a>
                    <a class="footerLinks" href="#">REFUND POLICY</a>
                    <a class="footerLinks" href="#">TERMS OF SERVICES</a>
                </div>
    
                <div class="column">
                    <a class="footerLinks" href="#">OUR PARTNERS</a>
                    <a class="footerLinks" href="#">BECOME AN AFFILIATE</a>
                    <a class="footerLinks" href="#">SPONSOR US</a>
                    <a class="footerLinks" href="#">REPORT A PROBLEM</a>
                </div>
    
                <div class="column">
                    <a class="footerLinks" href="#">ABOUT US</a>
                    <a class="footerLinks" href="#">FAQS</a>
                    <a class="footerLinks" href="#">CONTACT US</a>
                    <a class="footerLinks" href="#">CAREERS</a>
                </div>
    
                <div class="social_medias">
                    <div class="imgWrapper">
                        <i class="fa-brands fa-x-twitter"></i>
                        <a href="#" class="socialmediaName">TWITTER</a>
                    </div>
                    <div class="imgWrapper">
                        <i class="fa-brands fa-facebook"></i>
                        <a href="#" class="socialmediaName">FACEBOOK</a>
                    </div>
                    <div class="imgWrapper">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#" class="socialmediaName">INSTAGRAM</a>
                    </div>
                    <div class="imgWrapper">
                        <i class="fa-brands fa-youtube"></i>
                        <a href="#" class="socialmediaName">YOUTUBE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="lower_part">
            <div class="copyright-disclaimer">
                ©2023 - Tarun All rights reserved
            </div>
        </div>
    </div>
</body>
</html>