body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 28.8rem;
}

.footer {
    background-color: #141414;
    box-sizing: border-box;
    border-top: 1px solid black;
    color: rgb(160, 160, 160);
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 0.5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upperHeading {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.qLine {
    background-color: grey;
    width: 200px;
    height: 1px;
}

.upper_part {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    /* background-color: red; */
}

.links {
    flex: 1.5;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.quick-links,
.socialmediaTxt {
    font-family: "Poppins", sans-serif;
    color: green;
    letter-spacing: 1px;
}

.upper_part .links a {
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    color: rgb(160, 160, 160);
    font-size: 15px;
    position: relative;
    transition: 0.2s;
}

.links a:hover {
    color: rgb(255, 255, 255);
}

.links .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.upper_part .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.container input {
    height: 30px;
    width: 250px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    margin: 5px;
    background-color: white;
}

.container input::placeholder {
    font-size: 12px;
}

.container button {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;

    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.container .Login a {
    color: white;
}

.copyright-disclaimer {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.643);
    padding-top: 0.5rem;
}

.footer .lower_part {
    flex: 0.3;
    display: flex;
}

.footer-line {
    width: 90%;
    height: 1px;
    background-color: grey;
}

.lower_part {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.social_medias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.lower_part .rights_reserved {
    position: absolute;
    bottom: 60%;
    right: 35%;
}

.imgWrapper {
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.imgWrapper i {
    font-size: 20px;
    color: rgb(160, 160, 160);
    margin-right: 10px;
}

.imgWrapper:hover {
    transform: scale(1.1);
}

.lower_part {
    gap: 10px;
}

.socialmediaName {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    letter-spacing: 0.5px;
}

.socialmediaName:hover {
    color: #ffffff;
}